.whoami-user-name {
  color: white;
  padding: '20px';
}

.navbar {
  color: black
}

.signup {
  color: white;
}

.logout {
  background-color: whitesmoke;
  border-color: whitesmoke;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-style: arial;
  font-family: Arial, Helvetica, sans-serif
}

.login {
  background-color: whitesmoke;
  border-color: whitesmoke;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 5px;
  margin-left: 5px;
  font-style: arial;
  font-family: Arial, Helvetica, sans-serif;
}

.whoami-user-name {
  font-style: arial;
  font-family: Arial, Helvetica, sans-serif
}

input {
   border-radius: 4px;
   border-color: whitesmoke;
   background-color: whitesmoke;
   font-style: arial;
   font-family: Arial, Helvetica, sans-serif;
}

.orderHistory {
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  font-style: arial;
  font-family: Arial, Helvetica, sans-serif;
}
